.wrapHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 0.5em;
    background-color: lightgray;
    border: 1px solid gray;
}

h1{
    font-size: 3em;
    font-weight: normal;
    color:darkgreen;
}

h2{
    font-weight: normal;
}

table, th, td{
    border: 2px solid rgb(198, 184, 184);
    table-layout: fixed;
    width: 100%;
}

td{
    font-weight: normal;
    background-color: rgba(97, 105, 123, 0.401);
}

th{
    background-color: rgb(255, 255, 255);

}

form{
    border: 3px solid gray;
}

.dataValues{
    display: grid;
    grid-template-areas: "a b"
                         "a b"
                         "a b";
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(53, 211, 200);
    text-align: left;
    padding-right:2fr;
}

.expenseBtn{
    background-color: rgb(53, 211, 200);
    text-align: center;
    padding: 0.45em;
    padding-right: 0%;
}

#sbtn{
    height: 5em;
    background-color: lightblue;
    border:2px solid black;

}
#sbtn:active{
    background-color: slategrey;
}

.clearButton{
    background-color: rgba(152, 175, 204, 0.388);
}