.wrapHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 0.5em;
}

h1{
    font-size: 3em;
    font-weight: normal;
}
h2{
    font-weight: normal;
}

table, th, td{
    border: 1px solid rgb(198, 184, 184);
    table-layout: fixed;
    width: 100%;
}
td{
    font-weight: normal;
    background-color: rgb(152, 175, 204);
}
th{
    background-color: rgba(149, 157, 71, 0.47);

}
